@use "../../index.scss" as*;

.edit-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  button {
    padding: 6px 15px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }
}



.form-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;

  .dark-button {
    background-color: var(--font-color);
    color: var(--body-background-color);
    &:hover {
      background-color: var(--accent-color);
      color: var(--font-color);
    }
  }

  .light-button {
    background-color: var(--font-color);
    color: var(--body-background-color);
    &:hover {
      background-color: var(--accent-color);
    }
  }
}