* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

:root {
  --header-footer-color: #1E1F26;
  --body-background-color: #ebf0f7;
  --input-backgrounds: #d1d6de;
  --accent-color: #0F766E;
 
}

:root[theme="dark"] {
  --body-background-color: #111010;
  --font-color: #ebf0f7;
  
}

$content-padding: 15px clamp(0.5rem, -3.23778rem + 15.738vw, 8rem);
$input-gap: 8px;
$small-rounding: 8px;
$medium-rounding: 16px;
$font-sizes: (
  h1: 2.5rem,
  h2: 1.8rem,
  h3: 1.5rem,
  legend: 1.5rem,
  label: 1.3rem,
  p: 1.2rem,
  a: 1.2rem,
  input: 1.2rem,
  textarea: 1.2rem,
  button: 1.2rem,
);

@each $key, $font-size in $font-sizes {
  #{$key} {
    font-size: $font-size ;
  }
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  border: 3px solid var(--input-backgrounds);
  padding: 12px;
  border-radius: $small-rounding;
  background-color: var(--header-footer-color);
}

legend{
  text-decoration: underline;
  font-weight: bold;
  color: var(--font-color);
  display: flex;
  align-items: center;
  gap: 10px ;
}

button {
  padding: 10px 16px;
  border-radius: $small-rounding;
  color: var(--body-background-color);
  background-color: var(--input-backgrounds);
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
  }
}



