footer {
  background-color: var(--header-footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-top: 1px solid var(--input-backgrounds);
  gap: 15px;
  
  p {
    color: var(--font-color);
  }
}